<beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
                               http://www.springframework.org/schema/beans/spring-beans.xsd">
                         
                               
  <bean id="department" class="com.wipro.beans.Department">
  <property name="deptCode" value="cse"></property>
  <property name="departmentName" value="Computer Science Engineering"></property>
  </bean>
  <!-- <bean id="college" class="com.wipro.beans.College">
  <property name="collegeName" value="SS College"></property>
  <property name="department" ref="department"></property>
  </bean> -->
  <bean id="college" class="com.wipro.beans.College">
  <constructor-arg value="GEETHAMS" />
  <constructor-arg ref="department" />
  </bean>
</beans>