* {
  color: blue;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  color: brown;
}

.h2 {
  color: aqua;
}
#p {
  color: chartreuse;
  font-size: 40px;
}
div h1,
div h2 {
  color: goldenrod;
}
